/********** Template CSS **********/

:root {
    --bs-primary: #00454F;
    --bs-dark: #000000;
    --bs-light: #ffffff;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;  
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed !important;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Fonts ***/
.font-work-sans {
  font-family: "Work Sans", sans-serif;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
}

.font-dancing-script {
    font-family: "Dancing Script", cursive;
}

/*** Button ***/
.btn {
    position: relative;
    transition: .5s;
}

.btn-primary {
    background: #00454F;
    border-color: #00454F;
    color: #fff;
}

.btn-primary:hover {
    background: #00606d;
    border-color: #00606d;
    color: #fff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary::before,
.btn-primary::after {
    position: absolute;
    content: "";
}

.btn-primary::before {
    border-left: 2px solid #00454F;
    border-right: 2px solid #00454F;
}

.btn-primary::after {
    border-top: 2px solid #00454F;
    border-bottom: 2px solid #00454F;
}

/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin: 0 12px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--bs-dark);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #00454F;
}

.navbar .btn-primary {
    background: #00454F;
    color: #fff;
}

.navbar .btn-primary:hover {
    background: #00606d;
}

/*** Hero Header ***/
.hero-header {
    background-size: cover;
}

/*** Carousel ***/
.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next{
    color: var(--bs-dark);
    background: #00454F;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    color: #fff;
}

/*** Service ***/
.service .service-item .btn-primary {
    background: #fff;
    color: #00454F;
    border: 2px solid #00454F;
}

.service .service-item .btn-primary:hover {
    background: #00454F;
    color: #fff;
}

/*** Pricing ***/
.price .price-item {
    background: rgba(255, 255, 255, .05);
}

/*** Blog ***/
.blog .btn-dark {
    background: #00454F;
    color: #fff;
}

.blog .btn-dark:hover {
    background: #000;
}

/*** Gallery ***/
.gallery .gallery-icon {
    background: rgba(0, 0, 0, .7);
}

/*** Team ***/
.team::before {
    background: #00454F;
}

.team-overlay {
    background: rgba(255, 255, 255, .5);
}

.team-item:hover .team-overlay {
    background: rgba(255, 255, 255, .9);
}

/*** Testimonial ***/
.testimonial-carousel .owl-item.center .bg-light {
    background: #00454F !important;
}

.testimonial-carousel .owl-item.center .bg-light * {
    color: #fff !important;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    background: #00454F;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: #000;
    color: #fff;
}

/*** Footer ***/
.footer .btn.btn-link:hover {
    color: #00454F;
}
